* {
    box-sizing: border-box;
    font-family: Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, Verdana, sans-serif;
}

.topnav {
    display: flex;
    padding-left: 1em;
    border-bottom: 0.1px solid black;
    align-items: center;
}

#lng-btn {
    margin-left: auto;
    padding:2vh;
    border: none;
    background: none;
    ;
  
}
#cnt-btn{
    border: none;
    background: none;
    padding-right: 2vh;
    width: 5px;
    
}
.logo {
    width: 160px;
    height: 11.43;
    padding-left: 20px;
}
.explorehead {
    color: #666666;
    font-size: 1em;
    font-weight: 700;
    margin: 15px 0;
    padding-left: 20px;
}

/*  hidden menu styling goes here


row {
  display: flex;
  flex-wrap: wrap;
}


.column {
    margin-top: 2%;
    float: left;
    width: 19rem;
   
    height: 300px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16 ;
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 50px;
    line-height: 1.8;
      }
  
  
 
  .row:after {
   margin-top: 5%;
    content: "";
    display: table;
    clear: both;
  }
  .title{
    margin-top: 2%;
    margin-left: 3%;
    margin-bottom: 4%;
  }
  
  .red-letter {
    color: #dd0005;
  }
  
  .live-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -.5rem;
    margin-bottom: -.5rem;
  }
  
  .about-us-link {
    text-decoration: none;
    color: #000000;
    margin-top: .8rem;
  }
       */




html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

@media(max-width: 1250px) {
    html {
        font-size: 56%;
    }
}

@media(max-width: 800px) {
    html {
        font-size: 50%;
    }
}

@media(max-width: 500px) {
    html {
        font-size: 45%;
    }
}


/*MAIN SECTION */

.main-container {
    padding: 1rem;
}

.top-container {
    -webkit-font-smoothing: antialiased;
    border-bottom: 3px solid #dd0005;
    width: 100vw;
}

.top-container-title {
    color: #666;
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: 9rem;
    margin-top: 0.75rem;
}

.top-container__span {
    text-transform: uppercase;
}

.middle-grid-container {
    padding: 3rem 7rem;
}

@media(max-width:1024px) {
    .middle-grid-container {
        padding: 1rem;
    }
}

.middle-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 2fr));
    grid-template-rows: 35rem 35rem;
    -webkit-font-smoothing: antialiased;
    grid-gap: 6rem;
    padding: 2rem 2rem;
}

@media(max-width: 670px) {
    .middle-grid-wrapper {
        grid-row-gap: 15rem;
    }
}

.single-title,
.single-title__color {
    font-size: 3.5rem;
    margin-bottom: .5rem;
}

.single-title__color {
    color: #dd0005;
}

.single-thumbnail {
    width: 100%;
}

.thumb-footer {
    font-size: 1.75em;
    text-decoration: none;
    color: black;
    margin-left: 0rem;
    margin-top: 1rem;
    position: relative;
}

.thumb-icon {
    height: 1.25rem;
    margin-left: 0.5rem;
    margin-top: 0.75rem;
    background-color: white;
}

.bottom-thumb-icon {
    margin-top: 4.0625rem;
    height: 5rem;
    width: 2.25rem;
    margin-right: 3rem;
}

.bottom-banner-container {
    margin-top: 4rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.bottom-banner a {
    border: 1px solid lightgrey;
    width: 70rem;
    margin-left: 2rem;
    display: grid;
    grid-template-columns: 20% 70% 10%;
    grid-gap: 2rem;
    text-decoration: none;
}

.bottom-banner-img {
    padding: 1rem;
    width: 15.5rem;
    margin-right: 3rem;
}

#banner-bold {
    font-size: 1.5em;
    color: black;
    font-weight: 500;
    margin-top: 1rem;
    padding: 0;
}

#banner-text {
    margin-top: 2rem;
    color: black;
}
/*Black footer styles start here*/
* {
    margin: 0;
    padding: 0;
}
.black_Footer {
    background-color: black;
    color: white;
    padding: 4rem 4.5rem;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.6;
    margin-top: 50px;

}
.block {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1280px;
}
.tools {
    display: flex;
    margin: 0 -60px;
}
.app {
    width: 50%;
    padding: 0 30px;
}
.footer_Heading1 {
margin: 0 0 10px;
padding-bottom: 10px;
border-bottom: 1px solid #444;
text-decoration-line: none;
}

.footer_Heading1 a {
    text-decoration: none;
}

#nhk_logo {
    border-radius: 5px;
    width: 60px;
    height: 60px;
}
.social_Media {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 5px;
    
}
.icon {
    text-decoration: none;
}

#note {
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: normal;

}
/*Black footer styles end here*/

