* {
    box-sizing: border-box;
    font-family: Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, Verdana, sans-serif;
}


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

@media(max-width: 1250px) {
    html {
        font-size: 56%;
    }
}

@media(max-width: 800px) {
    html {
        font-size: 50%;
    }
}

@media(max-width: 500px) {
    html {
        font-size: 45%;
    }
}

/* NAVBAR */

.navbar {
    display: flex;
    padding-left: 1em;
    border-bottom: 0.1px solid#e6e6e6;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 0 0 0 17rem;


}

#logo img {
    width: 16.2rem;
    height: 1.3rem;
}

.navbar-links-container {
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.navbar-links-wrapper {
    padding: 0 12rem 0 0;
    display: flex;
    align-items: center;
}

.navbar-links__lng-btn {
    border: none;
    background: none;
  
}

.navbar-links-wrapper a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .6rem;
    font-weight: 700;
    font-size: 1.3rem;
}

.navbar-links-wrapper a img {
    margin-right: .5rem;
}

.explorehead {
    color: #666666;
    font-size: 1em;
    font-weight: 700;
    margin: 1.5rem 0;
    padding-left: 20px;
}

/* DROPDOWN MENU */

.dropdown-menu-container {
    background-color: white;
    height: 110vh;
    width: 100vw;
    z-index: 5;
    margin-top: -5rem;
    position: fixed;
    animation: moveDown 0.5s;
    
}


.dropdown-menu-top {
    display: flex;
    justify-content: space-between;
    height: 10rem;
    align-items: center;
}


.dropdown-menu-top-logo {
    width: 10%;
    height: 10%;
    margin-left: 4.5rem;
}

.dropdown-menu-top-exit {
    width: 3%;
    margin-right: 5rem;
    cursor: pointer;
}

.dropdown-menu-row {
    display: flex;
    flex-wrap: wrap;
    padding: 10rem 4rem;
    background-color: white;
    margin-top: -5rem;
}


.dropdown-menu-column {
    width: 30rem;
    font-size: 16px;
    padding-left: 1.8rem;
    padding-right: 3rem;
    padding-bottom: 5rem;
    padding-top: 6rem;
    line-height: 3.8;
    
}
hr {
    color: lightgray;
    opacity: .6;
}
.dropdown-menu-column-header {
    font-weight: 800;
}
  
  
 
  .row:after {
   margin-top: 5%;
    content: "";
    display: table;
    clear: both;
  }

  .title{
    margin-top: 2%;
    margin-left: 3%;
    margin-bottom: 4%;
  }
  
  .red-letter {
    color: #dd0005;
  }
  
  .live-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -.5rem;
  }
  
  .about-us-link {
    text-decoration: none;
    color: #000000;
    margin-top: .8rem;

  }


  /* DROPDOWN HIDE/SHOW AND ANIMATIONS */
 .hide {
     display: none;
     animation: scale;
     background-color: transparent;


 }

  @-webkit-keyframes moveDown {
    from {top: -50rem;}
    to {top: 1rem;}
    from {opacity: 0;}
    to {opacity: 1;}
    
  }
  
  @keyframes moveDown {
    from {top: -50rem;}
    to {top: 1rem;}
    from {opacity: 0;}
    to {opacity: 1;}
  }



/*MAIN SECTION */

.main-container {
    padding: 1rem;
    width: 100vw;

}

.top-container {
    -webkit-font-smoothing: antialiased;
    border-bottom: 3px solid #dd0005;
    height: 3.5rem;
}

.top-container-title {
    color: #666;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 0 0 0 16rem;
    margin-top: 0.75rem;
}

.top-container__span {
    text-transform: uppercase;
}

.middle-grid-container {
    padding: 5rem 14rem;
}


.middle-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(42rem, 2fr));
    grid-template-rows: 43rem 43rem;
    -webkit-font-smoothing: antialiased;
    grid-gap: 8rem;
    padding: 2rem 2rem;
}


.single-title,
.single-title__color {
    font-size: 3.5rem;
    margin-bottom: .5rem;
}

.single-title__color {
    color: #dd0005;
}

.single-thumbnail {
    width: 100%;
}

.thumb-footer {
    font-size: 17.5px;
    text-decoration: none;
    color: black;
    margin-left: 0rem;
    margin-top: 1rem;
    position: relative;
}

.thumb-icon {
    height: 1.25rem;
    margin-left: 0.5rem;
    margin-top: 0.75rem;
    background-color: white;
}

.bottom-banner-container {
    margin-top: 4rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.bottom-banner a {
    border: 1px solid lightgrey;
    width: 100rem;
    margin-left: 2rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: 20% 77% 3%;
    grid-gap: 0;
    text-decoration: none;
}

.bottom-banner-img {
    padding: 1rem;
    width: 15.5rem;
    margin-right: 3rem;
}

#banner-bold {
    font-size: 2.4em;
    color: black;
    font-weight: 500;
    margin-top: 1rem;
    padding: 0;
}

.bottom-thumb-icon {
    margin-top: 4.8rem;
    height: 6rem;
    width: 3rem;
    margin-right: 3rem;
}

.banner-text {
    padding: 0 1rem;
}
#banner-text {
    margin-top: 1rem;
    color: black;
    font-size: 1.5rem;
    line-height: 1.6;
}

/*Black footer styles start here*/
* {
    margin: 0;
    padding: 0;
}
.black-footer {
    background-color: black;
    color: white;
    padding: 4.7rem 19rem;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.6;
    margin-top: 5rem;
    width: 100vw;
}
.black-footer__block {
    margin: 0 auto;
    padding: 0 4rem;
}
.black-footer__tools {
    display: flex;
    margin: 0 -60px;
}
.black-footer__app {
    width: 50%;
    padding: 0 1rem;
}

.black-footer__heading {
margin: 0 0 10px;
padding-bottom: 10px;
border-bottom: 1px solid #444;
text-decoration: none;
width: 92%;
}

.black-footer__heading a {
    text-decoration: none;
}



#black-footer__nhklogo {
    border-radius: 5px;
    width: 60px;
    height: 60px;
}
.black-footer__socialmedia {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    padding: .5rem;
    
}
.black-footer__icon {
    text-decoration: none;
}

#black-footer__note {
    margin: 0 0 10px;
    font-size: 1.6rem;
    font-weight: normal;

}
/*Black footer styles end here*/


.white-footer{
    background-color:white;
    color: black;
    padding: 1rem 12.6rem;   
}

.footer-container{
    margin: 20px 60px;
}

.footer2-nav {
    display: grid;
    background:white;
    grid-template-columns: 40rem 70rem auto;
    grid-template-rows: 10rem;
}
.footer2-nav-logo {
    display: flex;
    flex-direction:row; 
    align-items: top; 
    color:black;
    font-size: 1.2rem;
    margin-top: .5rem;
}

.footer2-nav-logo a img {
    height: 4.4rem;
    width: 4.4rem;
}
.footer2-nav-logo p {
margin-left:20px ;
    
}

.footer2-nav-link {
    padding: 0 6rem;
}
.footer2-nav-link-a li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.footer2-nav-link-b li a{
    text-decoration: none;
    color: black;
}

.footer2-nav-link-a li{
    display: inline-block;
    font-size: 1.8rem;
    margin: 0px 10px 20px 0px;
    text-decoration: none;
}
.footer2-nav-link-b li{
    font-size: 1.3rem;
    display: inline-block;
    margin: 0px 10px 20px 0px;
}
.white-footer-hr{
    width: 100%;
}

.nhk_logo_footer_black {
   display: flex;
   align-items: center;
   margin: 10px 0px;;
}

.nhk_logo_footer_black img {
    width: 70%;
}

.nhk_logo_footer_black p {
    margin-left: 10px;
}

.copyright{
    font-size: 11px;
    color: black;
}

/*white footer enf here*/



@media(min-width: 1280px) {
    .dropdown-menu-row {
        padding: 14rem 18rem;

    }
}

@media(max-width:1024px) {

    .navbar {
        padding: 0 0 0 2rem;

    }
   
    .dropdown-menu-row {
        padding-top: 45rem;
    }
    .dropdown-menu-column {
        width: 25rem;
        padding: 2rem;
    }

    .top-container-title {
        padding: 0 0 0 1rem;

    }
    .middle-grid-container {
        padding: 1rem;
    }

    .black-footer {
        padding: 3.7rem 7rem;

    }
    .white-footer {
        padding: 0;
    }
}

@media(max-width: 768px) {

    
    .dropdown-menu-row {
        padding-top: 9rem;
    }
    .dropdown-menu-column {
        width: 43rem;
    }
    .middle-grid-wrapper {
        grid-row-gap: 18rem;
    }

    .footer2-nav {
        grid-template-columns: 30rem 65rem;
    }

    .footer2-nav-link {
        padding: 0 4rem;
    }
}

@media(max-width: 500px) {

    .navbar-links-wrapper {
        padding: 0 5rem 0 0;
        
    }

    .navbar-links__lng-btn img {
        width: 10px;
        height: 10px;
    }
    .dropdown-menu-row {
    padding-top: 5rem;
    }

    .dropdown-menu-column {
        width: 100%;
        line-height: 2.9;
    }

    .middle-grid-wrapper {
        grid-row-gap: 0;
        grid-template-rows: 35rem 35rem;

    }
    .bottom-banner a {
        width: 49rem;
    }

    .bottom-banner-img {
        width: 9.5rem;
    }

    .black-footer {
        padding: 3.7rem 5rem;
    }
    .footer2-nav {
        grid-template-columns: 1fr;
    }

    .footer2-nav-link {
        padding: 0 0rem;
    }
}