<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NKH-WORLD-JAPAN Clone Website</title>
    <link rel="stylesheet" href="../assets/style/style.css">
</head>
<body>
    
    <nav>
        <!-- Navbar Goes Here with toggle menu--> 
    </nav>

    <main>
        <!-- Main section with iframes goes here -->
    </main>

    <footer>
        <!-- Footer goes here. It's divided in two parts, 
            upper footer in black and lower footer in white-->
    </footer>

    <script src="../scripts/main.js"></script>

</body>
</html>