<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NKH-WORLD-JAPAN Clone Website</title>
    <link rel="stylesheet" href="../assets/style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

</head>

<body>

        <nav>
            <div class="top-nav">
                <span id="logo" style="cursor:pointer"><img src="../assets/imgs/logo.png"></span>
                <button class="lng" style="cursor:pointer"><img src="../assets/imgs/world-icon.png" width="17px"
                    height="17px"><span>Language</span></button>
                <button class="cnt" style="cursor:pointer"><img src="../assets/imgs/email.png" width="18px"
                        height="18px"><span>Contact</span></button>
                <a class="menu-btn" href="#"><img src="../assets/imgs/equal.png" width="40px" height="40px"></a>
                </a>
            </div>
                </nav>
    <!--
    nav hidden page here
     
        <div class="row">
      <div class="column" style="background-color:white;">
        <h3><span class="red-letter">N</span>ews</h3><hr>
        <p>Top stories</p> <hr>
        <p>Backstories</p><hr>
        <p>videos</p><hr>
        <p>At a glance</p><hr>
        <p>Programs</p><hr>
      </div>
      <div class="column" style="background-color:white;">
        <h3><span class="red-letter">O</span>n Demand</h3> <hr>
        <p>Video</p> <hr>
        <p>Audio</p><hr>
        <p>Programs</p><hr>
        <p>Playlist</p><hr>
      </div>
      <div class="column" style="background-color:white;">
          <h3><span class="red-letter">L</span>ive & Programs</h3> <hr>
          <p>TV<img src="assets\live.jpeg" alt="live" width="60px" height="20px">
          </p> <hr>
          <p>Radio<img src="assets\live.jpeg" alt="live" width="60px" height="20px"></p><hr>
          <p>Programs</p><hr>
          <a href="#"><p>About Us</p></a><hr>
      </div>
      <div class="column" style="background-color:white;">
        <h3><span class="red-letter">L</span>earn Japanese</h3><hr>
        <p>Easy Japanese</p><hr>
        <P>Easy Travel Japanese</p><hr>
          <p>Easy Japanese For Work</p> <hr>
          <p>Easy Japanese 2015</p><hr>
          <p>Weekly News in simple Japanese</p><hr>
      </div>
    </div>
    ------------->

    <main>
        <!-- Main section with iframes goes here -->
        <container class="main-container">
            <div class="top-container">
                <h2 class="top-container-title"><strong>Explore <span class="top-grid__span">NHK World-Japan</span></strong></h2>
            </div>


            <div class="middle-grid-container">
                <div class="middle-grid-wrapper">
                    <div class="middle-grid-box__single">
                        <h1 class="single-title"><strong><span class="single-title__color">N</span>ews</strong></h1>
                        <!--Anchor Thumbnail-->
                        <a href="https://www3.nhk.or.jp/nhkworld/en/news/" class="single__link-1"><img src="../assets/imgs/news.JPG" class="single-thumbnail"></a>
                        <a href="https://www3.nhk.or.jp/nhkworld/en/news/" class="thumb-footer">Top stories</a><img class="thumb-icon" src="../assets/imgs/thumbicon.JPG">
                    </div>

                    <div class="middle-grid-box__single">
                        <h1 class="single-title"><strong><span class="single-title__color">O</span>n Demand</strong></h1>
                        <!--Anchor Thumbnail-->
                        <a href="https://www3.nhk.or.jp/nhkworld/en/ondemand/video/" class="single__link-2"><img src="../assets/imgs/ondemand.JPG" class="single-thumbnail"></a>
                        <a href="https://www3.nhk.or.jp/nhkworld/en/ondemand/video/" class="thumb-footer">Watch on demand</a><img class="thumb-icon" src="../assets/imgs/thumbicon.JPG">
                    </div>

                    <div class="middle-grid-box__single">
                        <h1 class="single-title"><strong><span class="single-title__color">L</span>ive & Programs</strong></h1>
                        <!--Anchor Thumbnail-->
                        <a href="https://www3.nhk.or.jp/nhkworld/en/live/" class="single__link-3"><img src="../assets/imgs/live.JPG" class="single-thumbnail"></a>
                        <a href="https://www3.nhk.or.jp/nhkworld/en/live/" class="thumb-footer">Watch live now</a><img class="thumb-icon" src="../assets/imgs/thumbicon.JPG">
                    </div>

                    <div class="middle-grid-box__single">
                        <h1 class="single-title"><strong><span class="single-title__color">L</span>earn Japanese</strong></h1>
                        <!--Anchor Thumbnail-->
                        <a href="https://www3.nhk.or.jp/nhkworld/en/learnjapanese/" class="single__link-4"><img src="../assets/imgs/learn.JPG" class="single-thumbnail"></a>
                        <a href="https://www3.nhk.or.jp/nhkworld/en/learnjapanese/" class="thumb-footer">Learn more</a><img class="thumb-icon" src="../assets/imgs/thumbicon.JPG">
                    </div>
                </div>
            </div>


            <div class="bottom-banner-container">

                <div class="bottom-banner">
                    <a href="https://www3.nhk.or.jp/nhkworld/en/about/">
                        <div>
                            <img src="../assets/imgs/3dicon.JPG" class="bottom-banner-img">
                        </div>

                        <div class="banner-text">
                            <p id="banner-bold">About Us</p>
                            <p id="banner-text"><span>NHK WORLD-JAPAN</span> is the international service of Japan's public<br>broadcaster <span>NHK</span>. It provides the latest information on Japan and Asia<br>through television, radio and online to a global audience.</p>
                        </div>
                        <div>
                            <img class="bottom-thumb-icon" src="../assets/imgs/thumbicon.JPG">
                        </div>
                    </a>
                </div>

            </div>






        </container>
    </main>

    <footer>

        <!-- Footer goes here. It's divided in two parts, 
            upper footer in black and lower footer in white-->
            <!--Black footer starts here-->
            <div class="black_Footer">
                <div class="block">
                 <div class="tools">
                  <div class="app">
                   <div class="footer_Heading1">Apps</div>
                        <a class="icon" href="https://www3.nhk.or.jp/nhkworld/en/app/">
                            <img id="nhk_logo" src="../assets/imgs/logo-3.png" alt="nhklogo">
                        </a>
                  </div>
                  <div class="app">
                   <div class="footer_Heading1">Follow Us</div>
                        <a class="icon" href="https://www.facebook.com/nhkworld" target="_blank">
                            <img class="social_Media" src="../assets/imgs/social-facebook.svg" alt="facebook" >
                        </a>
                        <a class="icon" href="https://www.youtube.com/user/NHKWorld" target="_blank">
                            <img class="social_Media" src="../assets/imgs/icon-youtube.png" alt="youtube">
                        </a>
                        <a class="icon" href="https://twitter.com/NHKWORLD_News" target="_blank">
                            <img class="social_Media" src="../assets/imgs/twitter-logo.svg" alt="twitter">
                        </a>
                        <a class="icon" href="https://www.instagram.com/nhkworldjapan/" target="_blank">
                            <img class="social_Media" src="../assets/imgs/icon-instagram.png" alt="instagram">
                        </a>
                        <p id="note">*You will leave the NHK WORLD-JAPAN website</p>
                  </div>
                 </div>
                </div>
            </div>
            <!--Black footer ends here-->

            <div class="white-footer">
                <div class="footer-container">
                    <div class="footer2-nav">
                        <div class="footer2-nav-logo">
                            <div><a href="https://www3.nhk.or.jp/nhkworld/"> <img src="../assets/imgs/logo-3.png" alt="NHK world logo" height="60px;"></a> 
                            </div>
                            <p> NHK (Japan Broadcasting Corporation) <br> Japan's only public broadcaster</p>
                        </div>       
                        <div class="footer2-nav-link">
                            <ul class="footer2-nav-link-a">
                                <li> <a href="https://www3.nhk.or.jp/nhkworld/en/news/ "> News /</a></li>
                                <li><a href="https://www3.nhk.or.jp/nhkworld/en/ondemand/video/">On Demand /</a></li>
                                <li><a href="https://www3.nhk.or.jp/nhkworld/en/live/">Live & Programs /</a></li>
                                <li><a href="https://www3.nhk.or.jp/nhkworld/en/learnjapanese/">Learn Japanese</a></li>
                            </ul>
                            <ul class="footer2-nav-link-b">
                                <li><a href="https://www3.nhk.or.jp/nhkworld/en/about/">About NHK WORLD-JAPAN</a></li>
                                <li><a href="https://www.nhk.or.jp/corporateinfo/">NHK Corporate Info</a></li>
                                <li><a href="https://www3.nhk.or.jp/nhkworld/en/terms/">Terms of Use</a></li>
                                <li><a href="https://www3.nhk.or.jp/nhkworld/en/contact/">Contact Us</a></li>
                                <li><a href="https://www3.nhk.or.jp/nhkworld/en/faq/">Faq</a></li>
                            </ul>
                        </div>
                
                    </div>
            
                    <hr class="white-footer-hr">
                    <div class="footer2-copy-right">
                        <div class="nhk_logo_footer_black">
                            <a href=" https://www.nhk.or.jp/"> <img src="../assets/imgs/nhk_logo_footer_black.png" alt="footer-logo"></a>
                            <p class="copyright">Copyright NHK (Japan Broadcasting Corporation) All rights reserved.</p>
                        </div>
                        
                    </div>

                </div> 
            </div>
    </footer>

    <script src="../scripts/main.js"></script>

</body>

</html>


<!--

    News
<a href="/nhkworld/en/news/"><div class="c-lang-top-category-selector-list-item-thum-list">
    <div class="c-lang-top-category-selector-list-item-thum-list-item" style="background-image: url(&quot;/nhkworld/upld/thumbnails/en/news/20191121_40_765388_L.jpg&quot;);"></div>
    <div class="c-lang-top-category-selector-list-item-thum-list-item" style="background-image: url(&quot;/nhkworld/upld/thumbnails/en/news/20191121_29_765214_L.jpg&quot;);"></div>
    <div class="c-lang-top-category-selector-list-item-thum-list-item -current" style="background-image: url(&quot;/nhkworld/upld/thumbnails/en/news/20191121_51_765476_L.jpg&quot;);"></div>
    <div class="c-lang-top-category-selector-list-item-thum-list-item" style="background-image: url(&quot;/nhkworld/upld/thumbnails/en/news/20191121_39_765354_L.jpg&quot;);"></div>
    <div class="c-lang-top-category-selector-list-item-thum-list-item" style="background-image: url(&quot;/nhkworld/upld/thumbnails/en/news/20191121_37_765462_L.jpg&quot;);"></div></div></<a>

<div class="c-lang-top-category-selector-list-item-thum-list-item" style="background-image: url(&quot;/nhkworld/upld/thumbnails/en/news/20191121_40_765388_L.jpg&quot;);"></div>
<div class="c-lang-top-category-selector-list-item-thum-list-item" style="background-image: url(&quot;/nhkworld/upld/thumbnails/en/news/20191121_29_765214_L.jpg&quot;);"></div>
<div class="c-lang-top-category-selector-list-item-thum-list-item" style="background-image: url(&quot;/nhkworld/upld/thumbnails/en/news/20191121_51_765476_L.jpg&quot;);"></div>
<div class="c-lang-top-category-selector-list-item-thum-list-item" style="background-image: url(&quot;/nhkworld/upld/thumbnails/en/news/20191121_39_765354_L.jpg&quot;);"></div>
<div class="c-lang-top-category-selector-list-item-thum-list-item -current" style="background-image: url(&quot;/nhkworld/upld/thumbnails/en/news/20191121_37_765462_L.jpg&quot;);"></div>
</a>

On Demand



<a href="/nhkworld/en/ondemand/">
        <div class="c-lang-top-category-selector-list-item-thum-list"><div class="c-lang-top-category-selector-list-item-thum-list-item" style="background-image: url(&quot;/nhkworld/en/ondemand/video/2072023/images/6rqpBaBzMEd8HQ8UhKTjFl9zHUhEVlyt7xttLI9G.jpeg&quot;);"></div>
        <div class="c-lang-top-category-selector-list-item-thum-list-item -current" style="background-image: url(&quot;/nhkworld/en/ondemand/video/2065032/images/HLHMrUPlQFECEjZzhWqgARhE4yeoikiRwi2otM56.jpeg&quot;);"></div>
        <div class="c-lang-top-category-selector-list-item-thum-list-item" style="background-image: url(&quot;/nhkworld/en/ondemand/pickup/225/images/9X9UPaZ2yHqttvDo6SdmWYqqcvkk2hc81kZf9ZyQ.jpeg&quot;);"></div>
        <div class="c-lang-top-category-selector-list-item-thum-list-item" style="background-image: url(&quot;/nhkworld/en/ondemand/video/5003130/images/pvudPkQXorb4u1skJ4kEdrDcMobDbdlZ2rDRdkuu.jpeg&quot;);"></div>
        <div class="c-lang-top-category-selector-list-item-thum-list-item" style="background-image: url(&quot;/nhkworld/en/ondemand/video/9999351/images/na3uAcrHtO2bCF0FWx9Eo5K548KAjqjBJ0ULr4xr.jpeg&quot;);">
        </div> 
</div>
</a>

LIve and 👨‍💻


        Live &amp; Programs
 <a href="/nhkworld/en/live/">
    <div class="c-lang-top-category-selector-list-item-thum-list">
    <div class="c-lang-top-category-selector-list-item-thum-list-item -current" style="background-image: url(&quot;/nhkworld/upld/thumbnails/en/tv/ regular_program/deee7745cb3607e468341fddb81a00c1_large.jpg&quot;);"></div> 
    <div class="c-lang-top-category-selector-icon-tv"></div> 
    </div></a> 
    <a href="/nhkworld/en/live/"><div class="c-lang-top-category-selector-text"><span>Watch live now</span>
    </div>
</a>


Learn Japanese

<a href="/nhkworld/en/learnjapanese/"><div class="c-lang-top-category-selector-list-item-thum-list"><div class="c-lang-top-category-selector-list-item-thum-list-item -current" style="background-image: url(&quot;/nhkworld/common/assets/live/images/lang-top/link_learn_japanese/learn_japanese_image_en.jpg&quot;);">
</div>
</div>
</a>

-->