<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NKH-WORLD-JAPAN Clone Website</title>
    <link rel="stylesheet" href="../assets/style/style.css">
</head>

<body>

    <nav>
        <!-- Navbar Goes Here with toggle menu-->
    </nav>

    <main>
        <!-- Main section with iframes goes here -->
        <container class="main-grid">

            <div class="top-grid">
                <div class="top-grid__title"><strong>Explore <span class="top-grid__span">NHK World-Japan</span></strong></div>
            </div>


            <div class="middle-grid-container">
                <div class="middle-grid-box">
                    <div class="middle-grid-box__single">
                        <div class="single-title"><strong><span class="single-title__color">N</span>ews</strong></div>
                        <!--Anchor Thumbnail-->
                        <a href="https://www3.nhk.or.jp/nhkworld/en/news/" class="single__link-1"><img src="../assets/imgs/news.JPG" class="single-thumbnail-1"></a>
                        <a href="https://www3.nhk.or.jp/nhkworld/en/news/" class="thumb-footer">Top stories</a><img class="thumb-icon" src="../assets/imgs/thumbicon.JPG">
                    </div>
                    <div class="middle-grid-box__single">
                        <div class="single-title"><strong><span class="single-title__color">O</span>n Demand</strong></div>
                        <!--Anchor Thumbnail-->
                        <a href="https://www3.nhk.or.jp/nhkworld/en/ondemand/video/" class="single__link-2"><img src="../assets/imgs/ondemand.JPG" class="single-thumbnail-2"></a>
                        <a href="https://www3.nhk.or.jp/nhkworld/en/ondemand/video/" class="thumb-footer">Watch on demand</a><img class="thumb-icon" src="../assets/imgs/thumbicon.JPG">
                    </div>
                    <div class="middle-grid-box__single">
                        <div class="single-title"><strong><span class="single-title__color">L</span>ive & Programs</strong></div>
                        <!--Anchor Thumbnail-->
                        <a href="https://www3.nhk.or.jp/nhkworld/en/live/" class="single__link-3"><img src="../assets/imgs/live.JPG" class="single-thumbnail-3"></a>
                        <a href="https://www3.nhk.or.jp/nhkworld/en/live/" class="thumb-footer">Watch live now</a><img class="thumb-icon" src="../assets/imgs/thumbicon.JPG">
                    </div>
                    <div class="middle-grid-box__single">
                        <div class="single-title"><strong><span class="single-title__color">L</span>earn Japanese</strong></div>
                        <!--Anchor Thumbnail-->
                        <a href="https://www3.nhk.or.jp/nhkworld/en/learnjapanese/" class="single__link-4"><img src="../assets/imgs/learn.JPG" class="single-thumbnail-4"></a>
                        <a href="https://www3.nhk.or.jp/nhkworld/en/learnjapanese/" class="thumb-footer">Learn more</a><img class="thumb-icon" src="../assets/imgs/thumbicon.JPG">
                    </div>
                </div>
            </div>


            <div class="bottom-grid">
                <div class="bottom-banner-container">
                    <a href="https://www3.nhk.or.jp/nhkworld/en/about/">
                        <img src="../assets/imgs/3dicon.JPG" class="bottom-banner">
                        <div class="banner-text">
                            <p id="banner-bold">About Us</p>
                            <p id="banner-text"><span>NHK WORLD-JAPAN</span> is the international service of Japan's public<br>broadcaster <span>NHK</span>. It provides the latest information on Japan and Asia<br>through television, radio and online to a global audience.</p>
                        </div>
                        <img class="bottom-thumb-icon" src="../assets/imgs/thumbicon.JPG">
                    </a>
                </div>
            </div>

        </container>

    </main>

    <footer>
        <!-- Footer goes here. It's divided in two parts, 
            upper footer in black and lower footer in white-->
    </footer>

    <script src="../scripts/main.js"></script>

</body>

</html>


<!--

    News
<a href="/nhkworld/en/news/"><div class="c-lang-top-category-selector-list-item-thum-list">
    <div class="c-lang-top-category-selector-list-item-thum-list-item" style="background-image: url(&quot;/nhkworld/upld/thumbnails/en/news/20191121_40_765388_L.jpg&quot;);"></div>
    <div class="c-lang-top-category-selector-list-item-thum-list-item" style="background-image: url(&quot;/nhkworld/upld/thumbnails/en/news/20191121_29_765214_L.jpg&quot;);"></div>
    <div class="c-lang-top-category-selector-list-item-thum-list-item -current" style="background-image: url(&quot;/nhkworld/upld/thumbnails/en/news/20191121_51_765476_L.jpg&quot;);"></div>
    <div class="c-lang-top-category-selector-list-item-thum-list-item" style="background-image: url(&quot;/nhkworld/upld/thumbnails/en/news/20191121_39_765354_L.jpg&quot;);"></div>
    <div class="c-lang-top-category-selector-list-item-thum-list-item" style="background-image: url(&quot;/nhkworld/upld/thumbnails/en/news/20191121_37_765462_L.jpg&quot;);"></div></div></<a>

<div class="c-lang-top-category-selector-list-item-thum-list-item" style="background-image: url(&quot;/nhkworld/upld/thumbnails/en/news/20191121_40_765388_L.jpg&quot;);"></div>
<div class="c-lang-top-category-selector-list-item-thum-list-item" style="background-image: url(&quot;/nhkworld/upld/thumbnails/en/news/20191121_29_765214_L.jpg&quot;);"></div>
<div class="c-lang-top-category-selector-list-item-thum-list-item" style="background-image: url(&quot;/nhkworld/upld/thumbnails/en/news/20191121_51_765476_L.jpg&quot;);"></div>
<div class="c-lang-top-category-selector-list-item-thum-list-item" style="background-image: url(&quot;/nhkworld/upld/thumbnails/en/news/20191121_39_765354_L.jpg&quot;);"></div>
<div class="c-lang-top-category-selector-list-item-thum-list-item -current" style="background-image: url(&quot;/nhkworld/upld/thumbnails/en/news/20191121_37_765462_L.jpg&quot;);"></div>
</a>

On Demand



<a href="/nhkworld/en/ondemand/">
        <div class="c-lang-top-category-selector-list-item-thum-list"><div class="c-lang-top-category-selector-list-item-thum-list-item" style="background-image: url(&quot;/nhkworld/en/ondemand/video/2072023/images/6rqpBaBzMEd8HQ8UhKTjFl9zHUhEVlyt7xttLI9G.jpeg&quot;);"></div>
        <div class="c-lang-top-category-selector-list-item-thum-list-item -current" style="background-image: url(&quot;/nhkworld/en/ondemand/video/2065032/images/HLHMrUPlQFECEjZzhWqgARhE4yeoikiRwi2otM56.jpeg&quot;);"></div>
        <div class="c-lang-top-category-selector-list-item-thum-list-item" style="background-image: url(&quot;/nhkworld/en/ondemand/pickup/225/images/9X9UPaZ2yHqttvDo6SdmWYqqcvkk2hc81kZf9ZyQ.jpeg&quot;);"></div>
        <div class="c-lang-top-category-selector-list-item-thum-list-item" style="background-image: url(&quot;/nhkworld/en/ondemand/video/5003130/images/pvudPkQXorb4u1skJ4kEdrDcMobDbdlZ2rDRdkuu.jpeg&quot;);"></div>
        <div class="c-lang-top-category-selector-list-item-thum-list-item" style="background-image: url(&quot;/nhkworld/en/ondemand/video/9999351/images/na3uAcrHtO2bCF0FWx9Eo5K548KAjqjBJ0ULr4xr.jpeg&quot;);">
        </div> 
</div>
</a>

LIve and 👨‍💻


        Live &amp; Programs
 <a href="/nhkworld/en/live/">
    <div class="c-lang-top-category-selector-list-item-thum-list">
    <div class="c-lang-top-category-selector-list-item-thum-list-item -current" style="background-image: url(&quot;/nhkworld/upld/thumbnails/en/tv/ regular_program/deee7745cb3607e468341fddb81a00c1_large.jpg&quot;);"></div> 
    <div class="c-lang-top-category-selector-icon-tv"></div> 
    </div></a> 
    <a href="/nhkworld/en/live/"><div class="c-lang-top-category-selector-text"><span>Watch live now</span>
    </div>
</a>


Learn Japanese

<a href="/nhkworld/en/learnjapanese/"><div class="c-lang-top-category-selector-list-item-thum-list"><div class="c-lang-top-category-selector-list-item-thum-list-item -current" style="background-image: url(&quot;/nhkworld/common/assets/live/images/lang-top/link_learn_japanese/learn_japanese_image_en.jpg&quot;);">
</div>
</div>
</a>

-->